/* FAQ Container */
.faq {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }
  
  /* FAQ Header */
  .faq h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* FAQ Item */
  .faq-item {
    margin-bottom: 15px;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    max-height: 50px; /* height of the question only */
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .faq-item.open {
    background-color: #1c1c1d;
    max-height: 200px; /* enough to display the answer */
  }
  
  .faq-item.open .faq-answer {
    max-height: 200px;
  }
  
  /* FAQ Question */
  .faq-question {
    transition: background-color 0.3s;
  }
  
  .faq-question:hover {
    background-color: #252626;
  }
  
  /* FAQ Answer */
  .faq-answer {
    padding: 10px;
    background-color: #e9ecef;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  
  .faq-item.open .faq-answer {
    max-height: 100px; /* Adjust based on the content */
  }
  